live2d.min.js

/build*
/lib

.DS_Store
node_modules

# TypeScript
.tsbuildinfo

# dot-env
.env*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
